.fondo-main{
    min-height: 80vh;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    .titulo-de-seccion{
   
        @extend %titulos-cada-seccion;
    }

    .contenido-contacto {
        font-size: 18px;
        max-width: 800px;
        font-style: oblique;
        font-weight: bold;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .formulario-contacto{
        line-height: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.397);
        width: 400px;
        margin:auto;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 7px;
        

        .boton-contactos{
            margin: 10px 0 0 0;
        }
        
    }
    

}