.footer{
    background-color: black;

    .redes-footer{
        background-color: rgba(0, 0, 0, 0.863);
        display: flex;
        width: 400px;
        margin: 0 auto;
        justify-content: center;
         
    }

    .info-footer{
        color: white;
        background-color: rgba(0, 0, 0, 0.863);
        font-size: small;
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
}