.fondo-main{
    min-height: 80vh;
    .titulo-de-seccion{
   
        @extend %titulos-cada-seccion;
    }

    .nosotros{

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        margin: 0px 250px 0px 250px;
        

        .accordion-button{
            background-color: brown;

        }

        .accordion-body{
            background-color: rgba(185, 16, 16, 0.548);
            overflow: hidden;
        }

      
        
       
        
      
    }
}
