.fondo-main{
    .titulo-de-seccion{
   
        margin-bottom: 30px;
        color: black;
        font-size: 45px;
        text-align: center;
        font-weight: bolder;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .segundos-titulos-nosotros{
        text-align: center;
        margin: 5px;
        font-style: italic;
        font-stretch: expanded;
        text-decoration: underline;
    }

    .contenido-nosotros{
        padding: 20px;
        text-align: center;
    }
}