.fondo-main{
    .titulo-de-seccion{
   
        margin-bottom: 30px;
        color: black;
        font-size: 45px;
        text-align: center;
        font-weight: bolder;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .contenido-sucursales{
        font-size: 18px;
        margin-bottom: 40px;
        font-style: oblique;
        font-weight: bold;
        text-align: center;
    }

    .todas-sucursales {
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(2 1fr);
        justify-items: center;
        align-items: center;
        justify-content: center;
    
    }
}