.fondo-main{
    min-height: 80vh;
    .titulo-de-seccion{
        @extend %titulos-cada-seccion;
   
    }

    .contenido-sucursales{
        font-size: 18px;
        margin-bottom: 40px;
        font-style: oblique;
        font-weight: bold;
        text-align: center;
    }

    .todas-sucursales {
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(2 1fr);
        justify-items: center;
        align-items: center;
        justify-content: center;
    
    }
}